/* Variables Create */
:root {
    --dark-text-clr: #081c2b;
    --second-dark-text-clr: #112e42;
    --light-clr: #ffffff;
    --light-grey-clr: #f1f5f9;
    --grey-clr: #c9d9e8;
    --global-clr: #0fbbff;
    --btn-clr: #ff499e;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: jost;
    color: var(--dark-clr);
}

body {
    background-color: var(--light-grey-clr);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--light-clr);
    position: sticky;
    top: 0;
}


#logo span{
    color: var(--global-clr);
}

nav > a{
    text-decoration: none;
    margin-left: 1rem;
}

nav > a:nth-last-child(1) {
    background-color: var(--btn-clr);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}
/* Home Section */

#hero {
    width: 100%;
    height: 100px;
    background-color: var(--light-grey-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
section {
    padding: 2%;
}

#home {
    color: var(--dark-pink-clr);
    text-align: center;
    font-size: 2rem;
    padding-top: 4rem;
    background-image:linear-gradient(rgb(15 187 255 / 0.5), rgb(0 0 255 / 0.25)), url("images/yoga-banner.png");
    background-size: 100%;
}

.home-content h1 {
    color: var(--light-clr);
    text-shadow:
    1px 1px 2px var(--btn-clr),
    0 0 1em var(--global-clr),
    0 0 0.2em var(--global-clr);

    text-shadow: var(--btn-clr) 2px 2px 4px;
}

.yoga-style {
    margin-top: 2rem;
}

.yoga-style h3 {
    color: var(--second-dark-text-clr);
}

.yoga-style button {
    padding: 0.25rem 1.25rem;
    /* margin-bottom: 0.5rem; */
    border: 1px solid;
    border-color:  var(--global-clr);
    border-radius: 50px;
    background-color: var(--light-grey-clr);
}


/* About Section */
#about {
    padding-top: 2rem;
}

.about-content {
    text-align: center;
}

.about-my-info, .about-institute-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-intro {
    width: 50%;
    text-align: start;
}

.my-intro a {
    /* margin-top: 50px; */
    text-decoration: none;
    padding: 0.25rem 1.25rem;
    border: 1px solid var(--global-clr);
    border-radius: 50px;
}
.my-image img {
    height: 400px;
    width: 350px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border: 2px solid var(--global-clr);
}

.about-institute-info {
    margin-top: 2rem;
}

.institute-intro {
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 1rem var(--grey-clr);
    border-radius: 1rem;
    /* border: 1px solid var(--global-clr); */
    transition: transform 1s;
}

.institute-intro:hover {
    transform: scale(1.1);
}



.institute-intro p {
    margin-top: 1rem;
}

/* Footer Section */
#footer {
    height: 50px;
    background-color: var(--grey-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75em;
}
